@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
}

.box {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.box:hover {
  background-color: #a2c3b47d;
}

.box::-webkit-resizer {
  display: none;
}

@import url("https://tnmt-dev.s3.ap-northeast-2.amazonaws.com/grid/grid_1.0.0.css");
